body {
  background-color: #000;
  color: #f1f2f5;
  font-size: 26px;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.bolder{
  font-weight: 700;
}

.table{
  display: table;
}

.table-cell{
  display: table-cell;
}
