body {
  background-color: #000;
  color: #f1f2f5;
  font-size: 26px;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.bolder{
  font-weight: 700;
}

.table{
  display: table;
}

.table-cell{
  display: table-cell;
}

small.error{
  display: block;
  font-size: 0.66667rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.88889rem;
  margin-top: -1px;
  padding: 0.33333rem 0.5rem 0.5rem;
  background: #f04124;
  color: #FFFFFF;
}
