.top-bar {
  background-color: #276187;
  font-size: 18px;
  height: 50px;
  nav {
    float: right;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 0 5px;
        &:last-of-type{
          margin-right: 15px;
        }
        a {
          font-weight: 300;
          display: inline-block;
          .icon{
            font-size: 22px;
          }
          span{
            height: 100%;
            display: inline-block;
            line-height: 50px;
          }
        }
      }
    }
  }
}
