<!DOCTYPE html>
<html lang="en" ng-app="hipsterTripApp">
  <head>
    <meta charset="utf-8">
    <title>Efigence Camp</title>
    <link rel="stylesheet" href="css/main.css" type="text/css" media="all" />

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/map.js"></script>
    <script src="js/app/contact.js"></script>
  </head>
  <body class="">
    <section class="top-bar">
      <nav>
        <ul>
          <li> <a href="#">
              <span>
                Zarejestruj się
              </span>
          </a> </li>
          <li> <a href="#">
              <span class="icon icon-unlocked"></span>
              <span>
                Zaloguj się
              </span>
          </a> </li>
          <li> <a href="#">
              <span class="icon icon-facebook3"></span>
              <span>Dołącz przez FB</span>
          </a> </li>
        </ul>
      </nav>
    </section>

    <section class="menu">
      <div class="row">
        <div class="small-2 columns logo">
          <a href="/">
            <span class="icon icon-location"></span><span class="name bolder">Hipser</span><span class="name">Trip</span>
          </a>
        </div>
        <div class="small-8 medium-6 columns nav">
          <nav>
            <ul>
              <li>
                <a href="#whatIsThis" class="active">Co to jest?</a> </li><li>
                <a href="#news">Aktualności</a> </li><li>
                <a href="/places">Miejscówki</a> </li><li>
                <a href="#contact">Kontakt</a> </li>
            </ul>
          </nav>
        </div>
        <div class="small-2 columns search">
          <div class="table">
            <div class="table-cell">
              <input type="search" name="" id="" value="" class="query" placeholder="Search…" />
              <button type="submit" class="icon-search"></button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="header-bg">
      <img src="/img/header-bg.png" alt="">
    </section>

    <section class="contact" id="contact" ng-controller="ContactCtrl as contact">
      <div class="row">
        <div class="map" id="googlemaps">
        </div>
        <div class="contact-form column small-6">
          <h2>Kontakt</h2>
          <div class="row">
            <div class="column small-6">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="column small-6">
              <form action="" method="post" ng-submit="contact.send($event)">
                <div class="row">
                  <div class="column small-12">
                    <input type="text" name="name" id="name" value="" placeholder="Imię i nazwisko" ng-model="contact.form.name" />
                    <div class="row" ng-if="contact.form.errors.name">
                      <small class="error" ng-repeat="msg in contact.form.errors.name">
                        {{msg}}
                      </small>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="column small-12">
                    <input type="email" name="email" id="email" value="" placeholder="E-mail" ng-model="contact.form.email" />
                    <div class="row" ng-if="contact.form.errors.email">
                      <small class="error" ng-repeat="msg in contact.form.errors.email">
                        {{msg}}
                      </small>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="column small-12">
                    <textarea name="message" id="" placeholder="Wiadomość"  ng-model="contact.form.message"></textarea>
                    <div class="row" ng-if="contact.form.errors.message">
                      <small class="error" ng-repeat="msg in contact.form.errors.message">
                        {{msg}}
                      </small>
                    </div>
                  </div>
                </div>

                <button type="submit" ng-click="contact.send($event)">Wyślij wiadomość</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer >
      <div class="row">
        <div class="column small-12 medium-6 left">
          <a href="">Polityka prywatnośći</a>
          <a href="">Polityka Cookies</a>
          <a href="">Copyrights (c)2015 efigenc S.A.</a>
        </div>
        <div class="column small-12 medium-6 right">
          <a href="" class="icon icon-facebook3"></a>
          <a href="" class="icon icon-twitter3"></a>
        </div>
      </div>
    </footer>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
